body {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size:1.1em;
	line-height: 1.5;
	color: #404040;
	margin: 0;
	padding: 0;
	max-width: 55rem;
	margin: 0 auto;
	padding: 4rem 3rem;
}

a {
	color: #b74949;
}

h1, h2, h3, strong {
	color: #333;
}

h1, h2, h3 {
	line-height: normal;
}

h1 .subhead {
	font-size:0.7em;
}

p, ul, ol {
	margin-bottom:1rem;
}

li {
	margin-bottom: 0.5rem;
}



section {
	margin-bottom: 3rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #ddd;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

header {
	margin-bottom:3rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #ddd;
}



h1 {
	font-size:3em;
	margin-bottom: 0;
}

.tagline {
	font-size:1.3em;
	max-width: 80%;
	margin: 1em auto 2em auto;
	font-style: italic;
	text-align: center;
	color: #b74949;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size:1.4em;
}
